body,
html {
   box-sizing: border-box;
   margin: 0;
   padding: 0; 
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    width: 100%;
    background-color: #fdde7e;
    padding: 80px 30px 78px;
    margin: auto;
}

.flex-row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.flex-col {
    width: calc(100% / 3);
    padding: 0 15px;
}

.column {
   background-color: white;
   text-align: center; 
   padding: 40px 0;
}

.cost {
    font-size: 70px;
    color: #02995b;
    font-weight: bold;
    padding-bottom: 25px;
}

.fa-mug-hot {
    color: #ff7900;
    font-size: 100px;
    padding-bottom:45px;
}

.status {
    font-size: 56px;
    color: #333333;
    padding-bottom: 30px;
}

p {
    padding: 0;
    margin: 0 auto;
}

.text {
    font-size: 22px;
    padding-bottom: 35px;
    width: 150px;
}

span {
    display: block; 
}

.color {
    color: #ffca28;
}

.color3 {
    color: #bdbdbd;
}

.column:hover {
  transform: scale(1.1);
  transition: all ease-in-out 0.3s;
}